@import"./reset.css";

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
}

.container{
    max-width: 1920px;
}

.header{
    background-image: url(../img/bg/bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    /* width: 1920px; */
}

.header-items {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px 10px;
    /* background: blue; */
    background: linear-gradient(90deg, rgba(4, 6, 5, 0.225) 0%, rgba(5, 7, 6, 0.45) 100%);
    align-items: flex-end;
}

.header-logo-img{
    margin-left: 90px;
}

.header-border-img{
    margin-left: 10px;
}

.header-logo-text{
    margin-left: 10px;
}

.logo-text{
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    color: #fff;
}

.header-now{
    margin-left: 500px;
}

.header-ellipse{
    margin-left: 50px;
}

.header-now-text{
    margin-top: -20px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    text-align: right;
    color: #53DB4D;
}

.header-img{
    margin-top: 6px;
}

.header-img-text{
    font-size: 21px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e1e1e1;
}

.header-btn{
    margin-left: 20px;
    margin-top: 10px;
    background: linear-gradient(5.72deg, #FFFF00 16.1%, #FFFFCF 95.46%);
    border-radius: 5px;
    height: 40px;

}

.header-btn-text{
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
    color: #2f2f2f;
    padding: 8px 25px;
}

.content-title{
    max-width: 715px;
    margin-left: 90px;
}

.content-title-text{
    font-size: 48px;
    line-height: 120%;
    color: #dedede;
    margin-top: 20px;
}

.info-item{
    display: flex;
    justify-content: flex-start;
    margin-left: 90px;
    font-weight: 400;
}

.info-item-2{
    padding-top: 100px;
    margin-top: -80px;
}

.info-icon{
    margin-right: 15px;
}

.info-icon-2{
    margin-right: 20px;
}

.info-text{
    font-family: inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 25px;
    color: #dedede;
}

.info-btn{
    background: linear-gradient(5.72deg, #FFFF00 16.1%, #FFFFCF 95.46%);
    border-radius: 10px;
    max-width:  268px;
    text-align: center;
    margin-left: 90px;
    margin-top: 8px;
}

.info-btn-text{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #2f2f2f;
    padding: 10px 60px;
}    

/*header end */

.job{
    /* background: #888; */
    background-image: url(../img/bg/bg2.png);
    background-repeat: repeat;
}

.job-wrapper{
    display: flex;
    margin-left: 90px;
    column-gap: 10px;
}

.job-text-img{
    display: flex;
    margin-top: 10px;
    /* background: #888; */
}



.job-title{
    margin-left: 250px;
    /* background: #888; */
    padding-top: 60px;
}

.job-title-text{
    font-size: 48px;
    line-height: 120%;
    font-weight:500;
    color: #1f1f1f;
}

.text-title{
    font-size: 20px;
    line-height: 19px;
    font-weight: 400;
}

.job-text-text{
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 15px;
}

.job-text-text-2{
    padding-top:  50px;
}

.img-img{
    margin-top: 165px;
    margin-bottom: 20px;
}

.img-img-2{
    margin-bottom: 15px;
}

.job-img{
    margin-top: 80px;
    margin-bottom: 20px;
}

.text-title-2{
    padding-left: 30px;
    text-align: center;
}


.job-text-text-3{
    margin-top:  10px;
}

.bandymas{
    margin-left: 100px;
}
.bandymas p{
    margin-left: -30px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

/* job end */

.bandymas{
    margin-bottom: 100px;
}

.processing{
    background-image: url(../img/bg/bg3.jpg);
    background-repeat: repeat;
}

.processing-title-text{
    font-size: 48px;
    line-height: 120%;
    font-weight: 500;
    color: #dedede;
    text-align: center;
    padding-top: 60px;
}

.processing-block{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    column-gap: 30px;
    background: linear-gradient(90deg, rgba(4, 6, 5, 0.225) 0%, rgba(5, 7, 6, 0.45) 100%);
}

.processing-block-1{
    border: 1px solid #DEDEDE;
    border-radius: 15px;
    margin-bottom: 50px;
}

.processing-blok-title{
    margin-top: 28px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #dedede;
    text-align: center;
}

.processing-block-img-img{
    margin-top: 20px;
}

.processing-text{
    margin-top: 20px;
    max-width: 325px;
}

.processing-tex-text{
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color:  #dedede;
}

.processing-tex-text-1{
    padding-top: 10px;
    margin-left: 10px;
}

.processing-tex-text-2{
    margin-left: 30px;
}


.processing-btn{
    margin-top: 70px;
    margin-bottom: 36px;
    background: linear-gradient(5.72deg, #FFFF00 16.1%, #FFFFCF 95.46%);
    border-radius: 10px;
    width: 268px;
    padding: 14px 40px;
    margin-left: 100px;

}

.processing-btn-text{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    align-items: center;
    color: #2f2f2f;
    text-transform: uppercase;
}

/* processig end */

.fiting{
    background-image: url(../img/bg/bg4.jpg);
    background-repeat: repeat
}

.fiting-title{
    padding-top: 63px;
    text-align: center;
}

.fitig-tile-text{
    font-size: 48px;
    line-height: 120%;
    font-weight: 500;
    color: #1e1e1e;
}

.fitig-block{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    margin-top: 64px;  
    column-gap: 105px; 
}

.fitig-img-2{
    margin-top: 18px;
    text-align: center;
}

.fitig-img-3{
    width: 60px;
} 

.img-nipil{
    margin-top: -210px;
}

.fiting-text{
    text-align: center;
    margin-top: 10px;
}

.text{
    font-size: 18px;
    line-height: 21px;
    color: #1e1e1e;
}

.fiting-text-2{
    text-align: center;
    margin-top: 20px;
}

.text-2{
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #1e1e1e;
}

.fitig-img-5{
    text-align: center;
    padding-top: 8px;
}

.fiting-img-line {
    width: 183px;
    padding-bottom: 50px;
}

.fiting-img-line-2{
    width: 8px;
}

/* fiting end */

.response{
    background-image: url(../img/bg/bg5.png);
    background-repeat: repeat;
}

.respose-title{
    text-align: center;
    padding-top: 60px;
    margin-bottom: 45px;
}

.response-title-text{
    font-size: 48px;
    line-height: 120%;
    font-weight: 500;
    color: #dedede;
}

.response-block{
    display: flex;
    column-gap: 100px;
    padding-bottom: 100px;
}

.response-block-2{
    margin-left: 100px;
}

.response-block-icon{
    padding-top:  80px;
}

.response-icon{
    padding: 260px 40px;
}

.response-icon-1{
    margin-left: 230px;
    margin-top: -50px;
}

.response-icon-2{
    padding-right: 5px;
}

.response-icon-text{
    display: flex;
}

.response-icon-3{
    text-align: center;
    padding-top: 15px;
}

.response-icon-3-text{
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #dedede;
    max-width: 490px;
    margin-left: 15px;
    padding-top: 15px;
}

.response-btn{
    background: linear-gradient(5.72deg, #F1F100 16.1%, #FFFF94 95.46%);
    border-radius: 10px;
    text-align: center;
    max-width: 268px;
    margin-top: 20px;
    margin-left: 35px;
    
}

.response-btn-text{
    font-size: 14px;
    line-height: 16px;
    padding: 20px 40px;
}

/* response edn */

.ways{
    background: #f5f5f5;
}

.ways-title{
    text-align: center;
    padding-top: 60px;
}

.ways-title-text{
    font-size: 48px;
    line-height: 120%;
    font-weight: 500;
    color: #1e1e1e;
}

.ways-block{
    /* background-image: url(../img/bg/bg11.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover; */
    display: flex;
    justify-content: center;
    column-gap: 49px;
    margin-top: 49px;
}

.ways-block-content{
    background-image: url(../img/bg/bg11.png);
    background-repeat: no-repeat;
    height: 100vh;
    /* background-size: cover; */
}

.ways-block-img{
    margin-top: 40px;
    text-align: center;
}

.ways-details-title-1{
    margin-top: 17px;
    text-align: center;
}

.ways-details-title-2{
    margin-top: 60px;
    text-align: center;
}

.ways-details-title-3{
    margin-top: 18px;
    text-align: center;
}

.ways-details-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #1e1e1e;
}

.ways-border{
    text-align: center;
    margin-top: 10px;
}

.ways-details-text{
    text-align: center;
}

.ways-text-1{
    padding-top: 15px;
}

.ways-text-2{
    font-size: 16px;
    line-height: 19px;
    color: #1e1e1e;
}

.aways-details-title-3{
    margin-top: 83px;
    text-align: center;
}

.aways-details-title-text-5{
    font-size: 48px;
    line-height: 120%;
    font-weight: 500;
    color: #1e1e1e;
}

.aways-details-block-img{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

/* aways end */

.lazer-info{
   background-image: url(../img/bg/bg12.png);
   background-repeat: repeat;
}

.lazer-info-title{
    text-align: center;
    padding-top: 90px;
}

.lazer-info-title-text{
    font-size: 48px;
    line-height: 120%;
    color: #dedede;
    font-weight: 500;
    margin-bottom: 50px;
}


.lazer-info-block{
    display: flex;
    column-gap: 30px;
    padding-bottom: 50px;
}

.lazer-info-block-2{
  margin-left: 100px;
}

.lazer-info-block-block{
    border: 1px solid #DEDEDE;
    border-radius: 15px;
    padding: 29px 41px;
}

.lazer-info-block-block{
    text-align: center;
    max-width: 400px;
}

.lazer-info-block-title-text{
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
    color: #dedede;
    margin-top: 25px;
    text-transform: uppercase;
}

.lazer-info-block-text{
    text-align: start;
    margin-top: 25px;
}

.lazer-info-block-text-text{
    font-size: 14px;
    line-height: 16px;
    color: #dedede;
}

.lazer-register-form-name{
    text-align: start;
    margin-top: 15px;
    font-size: 14px;
    line-height: 16px;
    color: #dedede;
    font-style: italic;
   
}

.lazer-register-form-name-line{
    border-bottom: 1px solid #DEDEDE;
    width: 326px;
    padding-top: 20px;
    padding-bottom: 5px;

}

.lazer-info-block-btn{
    margin-top: 20px;
    background: linear-gradient(5.72deg, #FFFF00 16.1%, #FFFFCF 95.46%);
    border-radius: 10px;
    max-width: 268px;
    margin-bottom: 20px;
}

.lazer-info-text{
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    padding: 14px 35px;
}

.lazer-checbox{
    color: #dedede;
    text-align: start;
}

/* lazer end */

.footer{
    background: #000;
    padding-bottom: 30px;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px 10px;
    background: linear-gradient(90deg, rgba(4, 6, 5, 0.225) 0%, rgba(5, 7, 6, 0.45) 100%);
    align-items: flex-end;
}

.footer-logo-img{
    margin-left: 90px;
}

.footer-contacts{
    margin-left: 500px;
}

.footer-ellipse{
    margin-left: 50px;
}

.footer-contacts-text{
    margin-top: -20px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    text-align: right;
    color: #53DB4D;
}

.footer-img{
    margin-top: 6px;
}

.footer-img-text{
    font-size: 21px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e1e1e1;
}

.footer-btn{
    margin-left: 20px;
    margin-top: 10px;
    background: linear-gradient(5.72deg, #FFFF00 16.1%, #FFFFCF 95.46%);
    border-radius: 5px;
    height: 40px;

}

.footer-btn-text{
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
    color: #2f2f2f;
    padding: 8px 25px;
}

/* footer end */












